body {
    font-family: "Showcard Gothic", sans-serif;
    background-color: #FFD27EB0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    width: 900px;
    height: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stack-panel.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-panel.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-block {
    text-align: center;
    margin: 10px;
    padding: 0;
}

.text-block.large {
    font-size: 70px;
}

.text-block.medium {
    font-size: 30px;
}

.text-block.small {
    font-size: 20px;
    margin: 10px 10px 10px 0;
}

.text-box {
    background-color: #19D8D4CB;
    border: 1px solid black;
    margin: 10px 0 10px 10px;
    width: 220px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
}

.button {
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family: "Showcard Gothic", sans-serif;
    background-color: #6646CA33;
    border: 1px solid black;
    cursor: pointer;
}

.button.danger {
    background-color: #66ED2929;
}
