body {
    font-family: "Showcard Gothic", sans-serif;
    background-color: #FFD27EB0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 20px;
}

.main-container {
    width: 80%;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.label {
    margin: 10px;
    min-width: 100px;
}

.dropdown {
    margin: 10px 0;
    padding: 5px;
}

.back-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #FFBDAEBC;
    border: none;
    cursor: pointer;
    width: 93px;
}

.chart-container {
    width: 100%;
    height: 250px;
}
