body {
    font-family: "Showcard Gothic", sans-serif;
    background-color: #FFD27EB0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    width: 60%;
}

.group-box {
    background-color: rgb(237, 185, 185);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.group-box h2 {
    margin-top: 0;
}

.input-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
}

.input-grid label {
    margin-right: 10px;
}

.input-grid input, .session-label, .creator-label {
    padding: 10px;
    border: 1px solid #333; /* Dunklere Farbe für besseren Kontrast */
    background-color: #ffebcc; /* Hellgelber Hintergrund für besseren Kontrast */
    color: #000; /* Schwarzer Text für besseren Kontrast */
    font-family: "Showcard Gothic", sans-serif;
    border-radius: 5px; /* Abgerundete Ecken */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
}

button {
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Showcard Gothic", sans-serif;
    border-radius: 5px; /* Abgerundete Ecken */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Leichter Schatten */
}

.finish-button {
    background-color: #4CAF50;
}

.back-button {
    background-color: #008CBA;
}

#lvQuestions, #lbOptions {
    background-color: #FFDCD267;
    margin: 10px 0;
    padding: 10px;
    list-style-type: none;
}

.button-group {
    display: flex;
    gap: 10px;
}
