body {
    margin: 0;
    padding: 0;
    font-family: 'Showcard Gothic', sans-serif;
    background-color: #FFD27EB0;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#appTitle {
    font-size: 70px;
    background-color: #19D8D4CB;
    margin: 50px;
    padding: 10px;
}
#userSection {
    display: flex;
    margin-bottom: 50px;
}
#tbUser {
    font-size: 20px;
    background-color: #19D8D4CB;
    margin: 30px;
    padding: 10px;
}
#sessionsText {
    font-size: 20px;
    background-color: #19D8D4CB;
    margin: 10px;
    padding: 10px;
}
#lbSessions {
    width: 300px;
    background-color: #FFDCD267;
}
#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    font-family: 'Showcard Gothic', sans-serif;
    font-size: 25px;
    margin: 5px;
    width: 350px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}
.button:hover {
    opacity: 0.8;
}
#tbSessionCode {
    font-size: 35px;
    width: 235px;
    height: 50px;
    margin-right: 35px;
    padding: 5px;
    background-color: #19D8D4CB;
    border: 1px solid black;
}
