body {
    margin: 0;
    padding: 0;
    font-family: 'Showcard Gothic', sans-serif;
    background-color: #FFD27EB0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#appTitle {
    font-size: 70px;
    background-color: #19D8D4CB;
    margin: 50px;
    padding: 10px;
}

#userSection {
    display: flex;
    margin-bottom: 50px;
}

#tbUser {
    font-size: 20px;
    margin: 30px;
    padding: 10px;
}

#sessionsText {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

#lbSessions {
    width: 300px;
    background-color: #FFDCD267;
    max-height: 100px; /* maximale Höhe der Liste */
    overflow-y: auto; /* vertikales Scrollen */
    border: 1px solid #ccc; /* optional: Rahmen für die Liste */
    padding: 10px; /* optional: Innenabstand */
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnCreateSession {
    font-family: 'Showcard Gothic', sans-serif;
    font-size: 25px;
    margin: 5px;
    width: 350px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    background-color: #4CAF50;
    transition: all 0.3s ease;
}

#btnJoinSession {
    font-family: 'Showcard Gothic', sans-serif;
    font-size: 25px;
    margin: 5px;
    width: 350px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    background-color: #008CBA;
    transition: all 0.3s ease;
}

.button:hover {
    opacity: 0.8;
}

#tbSessionCode {
    font-size: 35px;
    width: 235px;
    height: 50px;
    margin-right: 35px;
    padding: 5px;
    font-family: 'Showcard Gothic', sans-serif;
    background-color: #19D8D4CB;
    border: 1px solid black;
}
